include picpocket/database/*.sql
include picpocket/web/scripts/dialog.applescript
include picpocket/web/templates/*.css
include picpocket/web/templates/*.js
include picpocket/web/templates/*.html
include picpocket/web/templates/modules/*.html
