{% if image and mime %}
<div class="image-holder">
    {% if mime.startswith("image/") and "x-olympus-orf" not in mime %}
    <a href="{{reverse_url('images-file', image.id)}}" target="_blank"><img class="picpocket-image" src="{{reverse_url('images-file', image.id)}}" {% if image.alt %}alt="{{image.alt}}" title="{{image.alt}}"{% end %}></a>
    {% elif mime.startswith("video/") %}
    <video controls loop>
        <source src="{{reverse_url('images-file', image.id)}}" type="{{mime}}">
    </video>
    {% else %}
    <div style="width: 500px; height: 250px; line-height: 250px; text-align: center; border-style: dashed; border-color: var(--accent-color);">Cannot Display Image</div>
    {% end %}
</div>
{% end %}