{% whitespace all %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/style.css" >
    <title>{{title}}</title>
</head>
<body>
    {% module NavBar() %}

    <main>
        <h1>{{title}}</h1>
        <p>{{description}}</p>

        <div class="contents">
            {% module DisplayImage(image) %}

            <form id="form" class="main-form" method="post" {% if parameters and "file" in {field["input"] for field in parameters} %}enctype="multipart/form-data"{% end %}>
                {% if parameters %}{% set existing_tags = {} %}
                {% for field in parameters %}
                <div class="form-item" id="item-{{field['name']}}">
                    <label for="{{field['name']}}" title="{{field['description']}}">{{field["label"]}}</label>
                    {% if field['input'] == "select" %}
                    <select name="{{field['name']}}" title="{{field['description']}}">
                    {% for option in (options.get(field['name']) or field['options']) %}
                        <option value="{{option or none}}" {% if existing.get(field["name"]) == option %}selected{% end %}>{{option}}</option>
                    {% end %}
                    </select>
                    {% elif field['input'] == "textarea" %}
                    <textarea class="text" name={{field['name']}} title="{{field['description']}}" rows=3>{{existing.get(field['name']) or ""}}</textarea>
                    {% elif field['input'] == "hidden" %}
                    <input type="text" name="{{field['name']}}" value="{{existing.get(field['name'])}}" hidden>
                    {% elif field['input'] == "tags" %}{% set existing_tags[field["name"]] = existing.get(field["name"], []) %}
                    <noscript><textarea name="{{field['name']}}-list">{{"\n".join((existing.get(field['name'])) or "")}}</textarea></noscript>
                    {% else %}
                    <input type="{{field['input']}}" name="{{field['name']}}" title="{{field['description']}}" {% if field["input"] != "checkbox" %} value="{{existing.get(field['name']) or ''}}"{% else %}class="text"{% end %}{% if field["required"] %} required{% end %}{% if field["input"] == "checkbox" %}{% if field['name'] in existing %}{% if existing.get(field['name']) %} checked{% end %}{% elif field.get("default") %} checked{% end %}{% end %}>
                    {% end %}
                </div>
                {% end%}
                {% end%}

                <input type="submit" value="{{submit}}">
            </form>
        </div>
    </main>
    {% if known_tags is not None %}
    <script type="text/javascript" src="/scripts.js"></script>
    <script type="text/javascript">
        const KNOWN_TAGS = {% raw json_encode(known_tags) %};
        const CURRENT_TAGS = {% raw json_encode(existing_tags) %};
        const SUGGESTED_TAGS = {% raw json_encode(suggestions or []) %};
        const DEFAULT_SUGGESTED_TAGS = {% raw json_encode(default_suggestions or []) %}

        function setup_js() {
            known_id = create_tag_list("form", KNOWN_TAGS);

            for ([name, tags] of Object.entries(CURRENT_TAGS)) {
                create_tag_form(
                    "item-" + name, name, known_id, tags, SUGGESTED_TAGS, DEFAULT_SUGGESTED_TAGS
                );
            }

            document.getElementById("form").setAttribute("onsubmit", "return select_all('" + name + "')");
        }

        window.addEventListener("DOMContentLoaded", setup_js);
    </script>
    {% end %}
</body>
</html>