<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/style.css" >
    <title>{% if image_ids is not None %}{{len(image_ids)}} Images {{action}}{% else %}{{image.title or f"Image {image.id}"}}{% end %}</title>
</head>
<body>
    {% module NavBar() %}

    <main>
        {% if image_ids is not None %}
        <h1>{{len(image_ids)}} Images {{action}}</h1>
        {% end %}

        {% if image %}
        <h{{1 if image_ids is None else 2}}>{{image.title or f"Image {image.id}"}}</h{{1 if image_ids is None else 2}}>

        <article class="contents">
            {% module DisplayImage(image) %}

            <div class="box image-info">
                <div id="image-actions" class="actions image-actions">
                    {% if back %}<a href="{{back}}{{query}}">← Previous</a>{% end %}
                    <a class="action-link" href="{{reverse_url('images-edit', image.id)}}{{query}}">Edit</a>
                    <a class="action-link" href="{{reverse_url('images-move', image.id)}}{{query}}">Move</a>
                    <a class="action-link" href="{{reverse_url('images-remove', image.id)}}{{query}}">Remove</a>
                    {% if "show-in-finder" in local_actions %}<button onClick="show_in_finder()">Show in Finder</button>{% end %}
                    {% if forward %}<a id="forward" href="{{forward}}{{query}}">Next →</a>{% end %}
                </div>
                <dl>
                    <dt>Id:</dt>
                    <dd>{{image.id}}</dd>

                    <dt>Path:</dt>
                    {% if image.full_path %}
                    <dd>{{image.full_path}}</dd>

                    <dt>Location:</dt>
                    <dd>{{location_name or image.location}}</dd>
                    {% else %}
                    <dd>{{location_name or image.location}}: {{image.path}}</dd>
                    {% end %}

                    {% if image.creator %}
                    <dt>Creator:</dt>
                    <dd>{{image.creator}}</dd>
                    {% end %}

                    {% if image.creation_date %}
                    <dt>Creation Date:</dt>
                    <dd>{{image.creation_date.strftime("%Y-%m-%d %H:%M:%S")}}</dd>
                    {% end %}

                    {% if image.last_modified %}
                    <dt>Last-Modified Date:</dt>
                    <dd>{{image.last_modified.strftime("%Y-%m-%d %H:%M:%S")}}</dd>
                    {% end %}

                    {% if image.rating is not None %}
                    <dt>Rating:</dt>
                    <dd>{{image.rating}}</dd>
                    {% end %}

                    {% if image.width and image.height %}
                    <dt>Dimensions:</dt>
                    <dd>{{image.width}}x{{image.height}}</dd>
                    {% end %}

                    {% if image.tags %}
                    <dt>Tags:</dt>
                    <dd>
                        <ul>
                        {% for tag in sorted(image.tags) %}
                            <li><a href="{{reverse_url('tags-get')}}?name={{url_escape(tag)}}">{{tag}}</a></li>
                        {% end %}
                        </ul>
                    </dd>
                    {% end %}
                </dl>
            </div>
            {% if image.exif %}
            <div class="box image-info">
                <table>
                    <tr><th colspan=2>Exif Data</th></tr>
                    <tr><th>Key</th><th>Value</th></tr>
                    {% for key, value in image.exif.items() %}
                    <tr><td>{{key}}</td><td>{{value}}</td></tr>
                    {% end %}
                </table>
            </div>
            {% end %}
        </article>
        {% if "show-in-finder" in local_actions %}
        <script type="text/javascript">
            function show_in_finder() {
                fetch("{{reverse_url('show-in-finder', image.id)}}").then(
                    (response) => {
                        if (response.status != 200) {
                            console.log("open failed");
                        }
                    }
                );
            }
        </script>
        {% end %}

        {% end %}
    </main>
</body>
</html>