<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/style.css" >
    <title>{% if image_ids is not None %}{{len(image_ids)}} Images {{action}}{% else %}{{image.title or f"Image {image.id}"}}{% end %}</title>
</head>
<body>
    {% module NavBar() %}

    <main>
        {% if image_ids is not None %}
        <h1>{{len(image_ids)}} Images {{action}}</h1>
        {% end %}

        {% if image %}
        <h{{1 if image_ids is None else 2}}>{{image.title or f"Image {image.id}"}}</h{{1 if image_ids is None else 2}}>

        <article>
            {% module DisplayImage(image) %}

            <div class="image-info">
                <div class="actions">
                    <a class="action-link" href="{{reverse_url('images-edit', image.id)}}{{query}}">Edit</a>
                    <a class="action-link" href="{{reverse_url('images-move', image.id)}}{{query}}">Move</a>
                    <a class="action-link" href="{{reverse_url('images-remove', image.id)}}{{query}}">Remove</a>
                </div>
                <dl>
                    <dt>Id:</dt>
                  s  <dd>{{image.id}}</dd>

                    <dt>Path:</dt>
                    {% if image.full_path %}
                    <dd>{{image.full_path}}</dd>

                    <dt>Location:</dt>
                    <dd>{{image.location}}</dd>
                    {% else %}
                    <dd>{{image.location}}: {{image.path}}</dd>
                    {% end %}

                    {% if image.creator %}
                    <dt>Creator:</dt>
                    <dd>{{image.creator}}</dd>
                    {% end %}

                    {% if image.creation_date %}
                    <dt>Creation Date:</dt>
                    <dd>{{image.creation_date.strftime("%Y-%m-%d %H:%M:%S")}}</dd>
                    {% end %}

                    {% if image.last_modified %}
                    <dt>Last-Modified Date:</dt>
                    <dd>{{image.last_modified.strftime("%Y-%m-%d %H:%M:%S")}}</dd>
                    {% end %}

                    {% if image.rating is not None %}
                    <dt>Rating:</dt>
                    <dd>{{image.rating}}</dd>
                    {% end %}

                    {% if image.width and image.height %}
                    <dt>Dimensions:</dt>
                    <dd>{{image.width}}x{{image.height}}</dd>
                    {% end %}

                    {% if image.tags %}
                    <dt>Tags:</dt>
                    <dd>
                        <ul>
                        {% for tag in sorted(image.tags) %}
                            <li><a href="{{reverse_url('tags-get')}}?name={{url_escape(tag)}}">{{tag}}</a></li>
                        {% end %}
                        </ul>
                    </dd>
                    {% end %}

                    {% if image.exif %}
                    <dt>EXIF Data:</dt>
                    <dd>
                        <table>
                            <tr><th colspan=2>Exif Data</th></tr>
                            <tr><th>Key</th><th>Value</th></tr>
                            {% for key, value in image.exif.items() %}
                            <tr><td>{{key}}</td><td>{{value}}</td></tr>
                            {% end %}
                        </table>
                    </dd>
                    {% end %}
                </dl>
            </div>

            {% if back or forward %}
            <div class="navigation">
                {% if back %}<a href="{{back}}{{query}}">← previous</a>{% if forward %} | {% end %}{% end %}{% if forward %}<a href="{{forward}}{{query}}">next →</a>{% end %}
            </div>
            {% end %}
        </article>
        {% end %}
    </main>
</body>
</html>