{% whitespace all %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/style.css" >
    <title>{{locations[0].name if len(locations) == 1 else "Locations"}}</title>
</head>
<body>
    {% module NavBar() %}

    <main>
        {% if len(locations) != 1 %}
        <h1>Locations</h1>
        {% end %}

        <article>
            {% if not locations %}
            <p>No locations found</p>
            {% else %}
            {% for location in locations %}
            <div class="location-info">
                <h2>{{location.name}}</h2>
                {% if location.description %}<p>{{location.description}}</p>{% end %}
                <div class="actions">
                    <a class="action-link" href="{{reverse_url('locations-mount', location.id)}}">Mount</a>
                    {% if location.mount_point %}<a class="action-link" href="{{reverse_url('locations-unmount', location.id)}}">Unmount</a>{% end %}
                    {% if location.destination %}<a class="action-link" href="{{reverse_url('locations-import', location.id)}}">Import</a>{% end %}
                    <a class="action-link" href="{{reverse_url('locations-edit', location.id)}}">Edit</a>
                    <a class="action-link" href="{{reverse_url('locations-remove', location.id)}}">Remove</a>
                </div>
                <dl>
                    <dt>Id:</dt>
                    <dd>{{location.id}}</dd>

                    {% if location.path %}
                    <dt>Path:</dt>
                    <dd>{{location.path}}</dd>
                    {% end %}

                    {% if location.mount_point %}
                    <dt>Mount Point:</dt>
                    <dd>{{location.mount_point}}</dd>
                    {% end %}

                    <dt>Type:</dt>
                    <dd>{{"Source" if location.source else "Destination"}}</dd>

                    <dt>Removable:</dt>
                    <dd>{{"yes" if location.removable else "no"}}</dd>
                </dl>
            </div>
            {% end %}
            {% end %}
        </article>

    </main>
</body>
</html>