{% whitespace all %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/style.css" >
    <title>{{title}}</title>
</head>
<body>
    {% module NavBar() %}

    <main>
        <h1>{{title}}</h1>
        <p>{{description}}</p>

        <div class="contents">
            {% module DisplayImage(image) %}

            <form id="form" class="box main-form" method="post">
                <div class="form-item" id="item-location">
                    <label for="location">Location: </label>
                    <select id="location" name="location" title="the location to move the image to">
                        {% for location in locations %}
                        <option value="{{location}}" {% if location == current_location %}selected{% end %}>{{location}}</option>
                        {% end %}
                    </select>
                </div>
                <div class="form-item" id="item-path">
                    <label for="path">Path:</label>
                    <input id="path" name="path" type="text" required value="{{current_path}}" title="The new path (relative to the new location)">
                </div>
                <input type="submit" value="{{submit}}">
            </form>
        </div>
    </main>
    {% if "choose-file" in local_actions %}
    <script type="text/javascript" src="/scripts.js"></script>
    <script type="text/javascript">
        const URLS = {% raw json_encode({location: reverse_url("choose-file", "save", location, image.path.name) for location in locations}) %};

        function setup_js() {
            div = document.getElementById("item-path");

            button = document.createElement("a");
            button.setAttribute("class", "action-link special-action");
            button.appendChild(document.createTextNode("Choose"));
            button.setAttribute("onClick", "file_dialog_from_key(URLS, 'location', 'path')");

            div.appendChild(button);
        }

        window.addEventListener("DOMContentLoaded", setup_js);
    </script>
    {% end %}
</body>
</html>