{% whitespace all %}<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="/style.css" >
	<title>{{title}}</title>
</head>
<body>
	{% module NavBar() %}

	<main>
		<h1>{{title}}</h1>
		<p>{{description}}</p>

		<form id="form" class="box search-form" method="post">
			<h4>Filters</h4>
			<p>Only return images that match certain criteria</p>
			<details>
				<summary>More Info</summary>
				<dl>
					{% for label, _, item_description in order %}
					<dt>{{label}}</dt><dd>{{item_description}}</dd>
					{% end %}
				</dl>
			</details>
			<br>

			<div id=join>
				<label for="join-strategy">Match:</label>
				<select id="join-strategy" name="join-strategy" onchange="set_join_visibility()">
					{% for strategy in ["All", "Any"] %}
					<option value="{{strategy.lower()}}"{% if strategy.lower() == filter_strategy %} selected{% end %}>{{strategy}} Filters</option>
					{% end %}
				</select>
			</div>
			<div id="filters" class="form-group">
				<noscript>
					{% for index in range(len(existing_filters) or 5) %}
					<div class="filter-item">
						{{index + 1}}:
						<select id="filter{{index + 1}}-parameter" name="filter{{index + 1}}-parameter">
						<option value="" selected></option>
						{% for name, info in filters %}
							<option value="{{name}}">{{info["label"]}}</option>
						{% end %}
						</select>
						<select id="filter{{index + 1}}-comparison" name="filter{{index + 1}}-comparison">
							{% for option, _ in types["any"] %}
							<option value="{{option}}">{{option}}</option>
							{% end %}
						</select>
						<input type="text" id="filter{{index + 1}}-value" name="filter{{index + 1}}-value">
					</div>
					{% end %}
				</noscript>
			</div>
			<button id="add-filter" type="button" onclick="add_filter()" hidden>Add Filter</button>
			<h5>Additional Filters</h5>
			<div id="item-reachable" class="form-item">
				<label for="reachable">Reachable:</label>
				<select id="reachable" name="reachable" title="Whether the image file is currently accessible">
					{% for value in ["", "No", "Yes"] %}
					<option value="{{value}}"{% if reachable == value %} selected{% end %}>{{value}}</option>
					{% end %}
				</select>
			</div>
			<div id="item-tagged" class="form-item">
				<label for="tagged">Tagged:</label>
				<select id="tagged" name="tagged" title="Whether the image has been tagged">
					{% for value in ["", "No", "Yes"] %}
					<option value="{{value}}"{% if tagged == value %} selected{% end %}>{{value}}</option>
					{% end %}
				</select>
			</div>
			<datalist id="known-tags">
                {% for tag in known_tags or [] %}
                <option value="{{tag}}" />
                {% end %}
            </datalist>
			<div id="item-any_tags" class="form-item">
				<label for="any_tags">Any Tags:</label>
				<noscript><textarea id="any_tags-list" name="any_tags-list" title="Only return images with at least one matching tag.">{% if any_tags %}{{"\n".join(any_tags)}}{% end %}</textarea></noscript>
			</div>
			<div id="item-all_tags" class="form-item">
				<label for="all_tags">All Tags:</label>
				<noscript><textarea id="all_tags-list" name="all_tags-list" title="Only return images with all supplied tags.">{% if all_tags %}{{"\n".join(all_tags)}}{% end %}</textarea></noscript>
			</div>
			<div id="item-no_tags" class="form-item">
				<label for="no_tags">No Tags:</label>
				<noscript><textarea id="no_tags-list" name="no_tags-list" title="Only return images without any supplied tags.">{% if no_tags %}{{"\n".join(no_tags)}}{% end %}</textarea></noscript>
			</div>

			<div id="order" class="form-group">
				<h4>Order</h4>

				<p>What order to return images in</p>
				<details>
					<summary>More Info</summary>
					<p>
						If no order is supplied, images will be returned in an arbitrary order.
						If multiple properties are supplied, each subsequent property will be used to break ties in the previous property.
					</p>
					<dl>
						{% for label, _, item_description in order %}
						<dt>{{label}}</dt><dd>{{item_description}}</dd>
						{% end %}
						<dt>Random</dt><dd>Randomize the order</dd>
					</dl>
				</details>
				<br>

				<div id="columns">
				{% for index, (property, direction, null) in enumerate(ordering) %}
					<div id="order{{index + 1}}" class="order-group">
						<select id="order{{index + 1}}-property" name="order{{index + 1}}-property" class="order-property">
							<option value=""></option>
							{% for label, value, _ in order %}
							<option value="{{value}}"{% if value == property %} selected{% end %}>{{label}}</option>
							{% end %}
							<option value="random"{% if "random" == property %} selected{% end %}>Random</option>
						</select>
						<select id="order{{index + 1}}-direction" name="order{{index + 1}}-direction" class="order-direction">
							{% for value in ["ascending", "descending"] %}
							<option value="{{value}}"{% if value == direction %} selected{% end %}>{{value}}</option>
							{% end %}
						</select>
						<select id="order{{index + 1}}-nulls" name="order{{index + 1}}-nulls" class="order-nulls">
							{% for value in ["first", "last"] %}
							<option value="{{value}}"{% if value == null %} selected{% end %}>blanks {{value}}</option>
							{% end %}
						</select>
					</div>
				{% end %}
				</div>
				<br>
			</div>

			<div id="limits">
				<h4>Limits</h4>

				<p>How to limit the number of images to return</p>
				<div class="form-item">
					<label for="limit-type">Limit by:</label>
					<select id="limit-type" name="limit-type">
						{% for option in ["count", "time"] %}
						<option value="{{option}}"{% if option == limit_type %} selected{% end %}>{{option}}</option>
						{% end %}
					</select>
				</div>
				<div id="count-limit">
					<div class="form-item">
						<label for="limit" title="Only return this many images">Limit:</label>
						<input type="number" id="limit" name="limit" minimum="0" title="Only return this many images" value="{{limit}}">
					</div>
					<div id="offset-group" class="form-item">
						<label for="offset" title="Ignored unless limit is supplied. Where in the ordered list of images to start">Offset:</label>
						<input type="number" id="offset" name="offset" value="{{offset}}" title="Ignored unless limit is supplied. Where in the ordered list of images to start">
					</div>
				</div>
				<div id="time-limit">
					<div class="form-item">
						<label for="span" title="Only return images taken within this span of time of each other">Span:</label>
						<input type="number" id="span" name="span" minimum="0" value="{{span}}">
						<select id="span-type" name="span-type">
							{% for period in ["minutes", "hours", "days"] %}
							<option value="{{period}}"{% if period == span_type %} selected{% end %}>{{period}}</option>
							{% end %}
						</select>
					</div>
				</div>
			</div>

			<br>
			<div><input type="submit" value="{{submit}}"</div>
		</form>
	</main>

	<script type="text/javascript" src="/scripts.js"></script>
	<script type="text/javascript">
		const KNOWN_TAGS = {% raw json_encode(known_tags) %};
		const FILTERS = new Map({% raw json_encode(filters) %});
		const TYPES = {
			{% for key, values in types.items() %}
			"{{key}}": new Map({% raw json_encode(values) %}),
			{% end %}
		};
		let COUNT = 0;
		let NEXT_INDEX = 1;
		let COLUMNS = {{len(order)}};

		function add_filter(parameter=undefined, comparison=undefined, value=undefined) {
			COUNT += 1;
			const index = NEXT_INDEX;
			NEXT_INDEX += 1;
			base = "filter" + index;

			let div = document.createElement("div");
			div.id = base;
			div.setAttribute("class", "filter-item")

			let span = document.createElement("span");
			span.id = base + "-settings";

			let label = document.createElement("label");
			label.setAttribute("class", "filter-component");
			label.appendChild(document.createTextNode(index + ":"));
			span.appendChild(label);

			let select = document.createElement("select");
			select.setAttribute("class", "filter-component");
			select.id = base + "-parameter";
			select.setAttribute("name", select.id);

			for ([name, info] of FILTERS) {
				let option = document.createElement("option");
				option.setAttribute("value", name);
				if (parameter == name) {
					option.setAttribute("selected", "")
				}
				option.appendChild(document.createTextNode(info["label"]));
				select.appendChild(option);
			}

			select.setAttribute("onchange", "filter_change('" + base + "')");
			span.appendChild(select);

			div.appendChild(span);

			button = document.createElement("button");
			button.setAttribute("class", "filter-component");
			button.appendChild(document.createTextNode("remove"));
			button.setAttribute("type", "button");
			button.setAttribute("onclick", "remove_filter('" + base + "')");
			div.appendChild(button);

			document.getElementById("filters").appendChild(div);
			filter_change(base, comparison, value);
			set_join_visibility();
		}

		function remove_filter(name) {
			COUNT -= 1;
			document.getElementById(name).remove();
			if ("filter" + (NEXT_INDEX - 1) == name) {
				NEXT_INDEX -= 1;
			}
			set_join_visibility();
		}

		function filter_change(base, previous_comparison=undefined, previous_value=undefined) {
			let select_value = document.getElementById(base + "-parameter").value;
			let parameter = FILTERS.get(select_value);
			let type = parameter["type"];

			comparison = document.getElementById(base + "-comparison");
			if (comparison) {
				if (comparison.tagName == "SELECT"){
					previous_comparison = comparison.value;
				}
				comparison.remove();
			}

			if (type == "option") {
				label = document.getElementById(base + "-comparison-label")
				if (label) {
					label.remove();
				}

				value = document.getElementById(base + "-value")
				if (value) {
					value.remove();
				}

				comparison = document.createElement("input");
				comparison.setAttribute("class", "filter-component");
				comparison.hidden = true;
				comparison.id = base + "-comparison"
				comparison.setAttribute("name", comparison.id);
				comparison.setAttribute("value", "option");
				settings = document.getElementById(base + "-settings");
				settings.appendChild(comparison)
				label = document.createElement("label")
				label.setAttribute("class", "filter-component");
				label.id = base + "-comparison-label"
				label.appendChild(document.createTextNode("="))
				settings.appendChild(label)
				select = document.createElement("select");
				select.id = base + "-value";
				label.setAttribute("for", select.id)
				select.setAttribute("name", select.id);
				for (value of parameter["options"]) {
					option = document.createElement("option");
					option.setAttribute("value", value);
					if (previous_value == value) {
						option.setAttribute("selected", "");
					}
					option.appendChild(document.createTextNode(value));
					select.appendChild(option);
				}
				settings.appendChild(select);
			} else {
				select = document.createElement("select");
				select.setAttribute("class", "filter-component");
				select.id = base + "-comparison";
				select.setAttribute("name", select.id);
				for ([value, info] of TYPES[type]) {
					option = document.createElement("option");
					option.setAttribute("value", value);
					option.appendChild(document.createTextNode(value));

					if (previous_comparison && value == previous_comparison) {
						option.setAttribute("selected", "");
					}

					select.appendChild(option);
				}
				select.setAttribute(
					"onchange",
					"filter_comparison_change('" + base + "', '" + type + "')",
				)
				document.getElementById(base + "-settings").appendChild(select);

				filter_comparison_change(base, type, previous_value);
			}
		}

		function filter_comparison_change(base, type, previous_value=undefined) {
			let select_value = document.getElementById(base + "-comparison").value;
			let info = TYPES[type].get(select_value);
			let previous_type = null;

			label = document.getElementById(base + "-comparison-label");
			if (label) {
				label.remove();
			}

			value = document.getElementById(base + "-value");
			if (value) {
				previous_type = value.type;
				previous_value = value.value;
				value.remove();
			}

			input = document.createElement("input")
			input.id = base + "-value";
			input.setAttribute("name", input.id);

			if ("value" in info) {
				input.hidden = true;
			} else {
				input.setAttribute("type", info["input"]);
				input.required = true;
				if (
					previous_type == info["input"]
					|| (previous_type == undefined && previous_value != undefined)
				) {
					input.setAttribute("value", previous_value);
				}
			}

			document.getElementById(base + "-settings").appendChild(input)
		}

		function set_join_visibility() {
			if (COUNT > 1) {
				document.getElementById("join").hidden = false;
			} else {
				document.getElementById("join").hidden = true;
			}
		}

		function check_ordering() {
			let hidden = false;
			for (i = 1; i <= COLUMNS; i++) {
				base = "order" + i;
				div = document.getElementById(base);
				div.hidden = hidden;
				if (!hidden) {
					column = document.getElementById(base + "-property");
					hidden = (!column.value || column.value == "random");
					document.getElementById(base + "-direction").hidden = hidden;
					document.getElementById(base + "-nulls").hidden = hidden;
				}
			}
		}

		function set_ordering() {
			for (i = 1; i <= COLUMNS; i++) {
				select = document.getElementById("order" + i + "-property");
				select.setAttribute("onchange", "check_ordering()");
			}
			check_ordering();
		}

		function display_limit() {
			for (option of document.getElementById("limit-type").children) {
				document.getElementById(option.value + "-limit").hidden = !option.selected;
			}
		}

		function submit_search() {
			if (select_all()) {
				url = "./search?";

				num_filters = 0;
				for (child of document.getElementById("filters").children) {
					if (child.classList.contains("filter-item")) {
						num_filters += 1;

						parameter = undefined;
						for (option of document.getElementById(child.id + "-parameter")) {
							if (option.selected || parameter == undefined) {
								parameter = option.value;
							}
						}

						comparison = undefined;
						comparison_tag = document.getElementById(child.id + "-comparison");
						if (comparison_tag.tagName == "SELECT") {
							for (option of comparison_tag) {
								if (option.selected || comparison == undefined) {
									comparison = option.value;
								}
							}
						}

						value = undefined;
						value_tag = document.getElementById(child.id + "-value");
						if (value_tag.tagName == "SELECT") {
							for (option of value_tag) {
								if (option.selected || value == undefined) {
									value = option.value;
								}
							}
						} else {
							value = value_tag.value
						}

						url += "filter-parameter-" + num_filters + "=" + encodeURIComponent(parameter) + "&";

						if (comparison) {
							url += "filter-comparison-" + num_filters + "=" + encodeURIComponent(comparison) + "&";
						}

						url += "filter-value-" + num_filters + "=" + encodeURIComponent(value) + "&";
					}
				}

				if ((num_filters) > 0) {
					strategy = "all";
					for (child of document.getElementById("join-strategy").children) {
						if (child.selected) {
							strategy = child.value;
						}
					}

					url += "filters=" + num_filters + "&filter-strategy=" + strategy + "&";
				}

				for (child of document.getElementById("reachable").children) {
					if (child.selected && child.value) {
						url += "reachable=" + child.value + "&";
					}
				}

				for (child of document.getElementById("tagged").children) {
					if (child.selected && child.value) {
						url += "tagged=" + child.value + "&";
					}
				}

				for (child of document.getElementById("any_tags")) {
					url += "any=" + encodeURIComponent(child.value) + "&";
				}

				for (child of document.getElementById("all_tags")) {
					url += "all=" + encodeURIComponent(child.value) + "&";
				}

				for (child of document.getElementById("no_tags")) {
					url += "no=" + encodeURIComponent(child.value) + "&";
				}

				for (child of document.getElementById("no_tags")) {
					url += "no=" + encodeURIComponent(child.value) + "&";
				}

				for (select of document.getElementsByClassName("order-property")) {
					for (child of select.children) {
						if (child.selected) {
							url += "order-property=" + encodeURIComponent(child.value) + "&";
						}
					}
				}

				for (select of document.getElementsByClassName("order-direction")) {
					for (child of select.children) {
						if (child.selected) {
							url += "order-direction=" + encodeURIComponent(child.value) + "&";
						}
					}
				}

				for (select of document.getElementsByClassName("order-nulls")) {
					for (child of select.children) {
						if (child.selected) {
							url += "order-nulls=" + encodeURIComponent(child.value) + "&";
						}
					}
				}

				for (child of document.getElementById("limit-type").children) {
					if (child.selected) {
						limit_type = child.value;
					}
				}

				url += "limit-type=" + limit_type + "&";

				if (limit_type == "count") {
					limit = document.getElementById("limit");
					if (limit.value != "") {
						url += "limit=" + limit.value + "&";
					}

					offset = document.getElementById("offset");
					if (offset.value != "") {
						url += "offset=" + offset.value + "&";
					}
				} else {
					span = document.getElementById("span");
					if (span.value != "") {
						url += "span=" + span.value + "&";
					}

					for (child of document.getElementById("span-type").children) {
						if (child.selected) {
							url += "span-type=" + child.value + "&";
						}
					}
				}

				history.pushState({}, "", url);

				return true;
			} else {
				return false;
			}
		}

		function setup_js() {
			{% for parameter, comparison, value in existing_filters %}
			add_filter("{% raw parameter %}", "{% raw comparison %}", "{% raw value %}");
			{% end %}

			document.getElementById("add-filter").hidden = false;
			set_join_visibility();

			create_tag_form("item-any_tags", "any_tags", "known-tags", {% raw any_tags %});
			create_tag_form("item-all_tags", "all_tags", "known-tags", {% raw all_tags %});
			create_tag_form("item-no_tags", "no_tags", "known-tags", {% raw no_tags %});

			set_ordering();

            document.getElementById("limit-type").setAttribute("onchange", "display_limit()");
            display_limit();

			document.getElementById("form").setAttribute("onsubmit", "return submit_search()");
		}

		window.addEventListener("DOMContentLoaded", setup_js);
	</script>
</body>
</html>