{% whitespace all %}:root {
    --background-color: {{light.background}};
    --secondary-color: {{light.secondary}};
    --text-color: {{light.text}};
    --accent-color: {{light.accent}};
    --accent-text-color: {{light.accent_text}};
    --link-accent: {{light.link_accent}};
    --border-color: {{light.border}};
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: {{dark.background}};
        --secondary-color: {{dark.secondary}};
        --text-color: {{dark.text}};
        --accent-color: {{dark.accent}};
        --accent-text-color: {{dark.accent_text}};
        --link-accent: {{dark.link_accent}};
        --border-color: {{dark.border}};
    }
}

a:link {
    color: var(--link-accent);
}

a:visited {
    color: var(--link-accent);
}

nav {
    position: fixed;
    top: 0;
    right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-top: 0em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--secondary-color);
    border-style: solid;
    border-color: var(--accent-color);
    box-shadow: 0.25em 0.25em 0.5em black;
}

nav > a {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

body {
    font-family: sans-serif;
    font-size: 18px;

    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    color: var(--accent-color);
}

dt {
    font-weight: bold;
}

dd {
    word-wrap: break-word;
}

table {
    border-collapse: collapse;
    border-style: solid;
}

th, td {
    border-style: solid;
    border-color: var(--border-color);
}

tr:nth-child(even) {
    background-color: var(--secondary-color);
}

tr:nth-child(odd) {
    background-color: var(--background-color);
}

th {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
}

.contents-holder {
    width: max-content;
}

.with-sidebar {
    display: grid;
    grid-template-columns: minmax(66%, 1.75fr) minmax(300px, 0.25fr);
}

.form-with-sidebar {
    display: grid;
    grid-template-columns: minmax(50%, 1.5fr) minmax(600px, 0.5fr);
}

.contents {
    border-style: solid;
    background-color: var(--secondary-color);
    border-radius: 1em;
    margin: 0.5em;
    padding: 1em;
    text-align: left;
    overflow: wrap;
    width: max-content;
}

.contents-sidebar {
    border-style: solid;
    background-color: var(--secondary-color);
    border-radius: 1em;
    margin-left: 0.5em;
    margin-right: 0em;
    margin-top: 0em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    text-align: left;
    overflow: wrap;
}

.contents > h2, h4 {
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0.2em;
}

.contents > .actions {
    margin-top: 1em;
    text-align: center;
    overflow: wrap;
}

.image-holder {
    padding: 0;
}

img, video {
    width: 100%;
    max-height: 100vh;
    height: auto;
    object-fit: contain;
}

.main-form {
    padding: 1em;
    min-width: 500px;
    max-width: 1000px;
}

.search-form {
    padding: 1em;
    min-width: 400px;
    max-width: 800px;
}

.form-item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: start;
    margin-bottom: 1em;
}

.form-item > input[type=checkbox] {
    justify-self: start;
}

.form-item > .action-link {
    grid-column-start: 2;
}

.check-item {
    margin-bottom: 1em;
}

.filter-item {
    margin: 1em;
    padding-right: 1em;
}

.filter-component {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.hidden-form-item {
    display: hidden;
    margin-bottom: 1em;
}

.tag-form {
    display: flex;
    width: 100%;
}

.tag-container > select, button {
    width: 100%;
}

.add-text {
    flex-grow: 100;
}

.action-link {
    background-color: var(--background-color);
    border-color: var(--link-accent);
    border-style: solid;
    text-decoration: none;
    border-radius: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-align: center;
    white-space: nowrap;
    line-height: 2em;
}

.action-link:hover {
    background-color: var(--accent-text-color);
    border-color: var(--accent-color);
}

.special-action {
    color: var(--accent-color);
}

.suggestion {
    width: 100%;
}

input:invalid {
  border: red solid 3px;
}

input:invalid:required ~ .go-action {
    visibility: hidden;
}

p {
    max-width: 1000px;
}

.tag-list {
    list-style-type: none;
}